body{
     background-image: url('https://png.pngtree.com/background/20230610/original/pngtree-an-anime-kitchen-is-shown-with-many-things-in-it-picture-image_3081586.jpg');
   
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
}
h1{
    color:rgb(255, 217, 0);
}
.card-header{
background-color: rgb(223, 175, 53);
}

